@font-face {
    font-family: "Breezeblocks";
    src: url('font/Breezeblocks.ttf') format('truetype');
}

body {
    font-family: "Breezeblocks", "PT Sans", Calibri, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(125, 141, 133);
    color: white;
    overflow-x: hidden;
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgb(255, 255, 255) transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 4px;
}

main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header{
    text-align: center;
    margin-top: 1rem;
    height: auto;
}
.header p {
    font-size: 5rem;
    font-weight: 400;
    padding: 0;
    margin: 0;
    text-transform: none;
    letter-spacing: normal;
    background-color: rgba(250, 235, 215, 0);
}

.mainpage{
    display: none;
}
.links{
    display: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #47474700;
    width: 100%;
    margin-top: 2rem;
    z-index: 2;
}
.navbar a {
    color: white;
    text-decoration: none;
    font-family: circular, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-right: 20px;
    margin-bottom: 1rem;
}

.navbar a:hover {
    text-decoration: underline;
}

.MarriedSign{
    position: absolute;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 27rem;
    background-color: rgba(0, 0, 0, 0);
}
.MarriedSign p {
    font-size: 7rem;
    font-weight: 400;
    padding: 0;
    margin: 0;
    text-transform: none;
    letter-spacing: normal;
    background-color: rgba(250, 235, 215, 0);
}

.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 67rem; /* Adjust based on image height */
    display: flex;
    align-items: center;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px; 
    position: absolute;
    will-change: transform;
}

.carousel img {
    object-fit: contain;
    width: auto;
    height: 67rem;
}

.below-carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(127, 255, 212, 0);
    margin: auto;
    margin-top: 8rem;
    width: 50%;
    height: auto;
    bottom: 0;
    z-index: 2;
}

.below-carousel p1, p3{
    font-size: 10rem;
    margin-top: 2rem;
    font-weight: 400;
    padding: 0;
    text-transform: none;
    letter-spacing: normal;
    background-color: rgba(250, 235, 215, 0);
}

.below-carousel p2{
    font-size: 3rem;
    font-weight: 400;
    padding: 0;
    text-transform: none;
    letter-spacing: normal;
    background-color: rgba(250, 235, 215, 0);
}

.below-carousel p4{
    margin-top: 8rem;
    font-size: 3.3rem;
    font-weight: 400;
    padding: 0;
    text-transform: none;
    letter-spacing: normal;
    background-color: rgba(250, 235, 215, 0);
}
.below-carousel p5{
    margin-top: .7rem;
    font-family: 'circular', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    padding: 0;
    text-transform: none;
    letter-spacing: normal;
    background-color: rgba(250, 235, 215, 0);
}
.below-carousel button{
    margin-top: 5rem;
    width: 18rem;
    height: 3rem;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
}

.below-carousel a {
    color: white;
    text-decoration: none;
}

.below-carousel img{
    margin-top: 5rem;
    width: 100%;
    height: auto;
}

#Countdown{
    font-family:'Courier New', Courier, monospace;
    font-size: 5vw;
    margin-top: 4rem;
    z-index: 2;
    color: #ffffff;
}

.Times{
    display: flex;
    font-family:'Courier New', Courier, monospace;
    font-size: 1.73vw;
    z-index: 2;
    color: #ffffff;
    width: 100%;
    background-color: rgba(0, 255, 255, 0);
    margin-bottom: 4rem;
}
.Days{
    margin-left: 20%;
}
.Hours{
    margin-left: 10%;
}
.Minutes{
    margin-left: 5%;
}
.Seconds{
    margin-left: 5%;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 0.8rem;
    }
    .header{
        display: none;
    }

    .mainpage{
        display: flex;
        position: absolute;
        margin-top: 3%;
        width: 97%;
        height: 2.7rem;
        z-index: 10;
        justify-content: end;
        align-items: center;
    }
    #circle {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.7rem;
        width: 2.7rem;
        background-color: #ffffff;
        border-radius: 100%;
        border: none;
        cursor: pointer;
    }

    #circle p {
        color: black;
        font-size: 2.2rem;
    }

    .links.active{
        overflow-x: hidden;
        display: flex;
        z-index: 100;
        flex-direction: column;
        position: fixed;
        width: 65%;
        right: 0%;
        height: 100vh;
        background-color: #ffffff;
        transition: right .5s ease-in-out;
    }
    
    #X{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3%;
        margin-left: 80%;
        height: 2.7rem;
        width: 2.7rem;
        background-color: #ffffff;
        border-radius: 100%;
        border: none;
        cursor: pointer;
    }
    #X p{
        color: black;
        font-size: 2rem;
        font-weight: bold;
    }

    .pages {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        margin-left: 20%;
        font-size: 2rem;
    }

    .links p1{
        color: rgb(0, 0, 0);
        font-family: circular, sans-serif;
        font-size: 1.3rem;
        margin-left: 12%;
        font-weight: bold;
    }
    .links p2{
        color: rgb(0, 0, 0);
        font-family: circular, sans-serif;
        font-size: .8rem;
        margin-left: 12%;
        margin-top: 2%;
        font-weight: lighter;
    }
    .links p3{
        color: rgb(0, 0, 0);
        font-family: circular, sans-serif;
        font-size: .9rem;
        margin-left: 12%;
        margin-top: 2%;
        font-weight: lighter;
        margin-bottom: 5.2rem;
    }
    .links a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-family: circular, sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
        margin-left: 12%;
        margin-bottom: 1.7rem;
    }

    .navbar{
        display: none;
    }
    .MarriedSign {
        margin-top: 16rem;
    }
    .MarriedSign p {
        font-size: 3.5rem;
    }
    .carousel-container {
        height: 35rem;
    }
    .carousel img {
        max-height: 35rem;
    }
    .below-carousel {
        width: 100%;
        margin-top: 2rem;
    }
    .below-carousel button{
        width: 10rem;
        height: 2rem;
        font-size: 1rem;
    }
    .below-carousel p1, .below-carousel p3 {
        font-size: 7rem;
    }
    .below-carousel p2 {
        font-size: 2rem;
    }
    .below-carousel p4 {
        font-size: 4rem;
    }
    .below-carousel p5 {
        font-size: 1.2rem;
    }
    .below-carousel button {
        width: 15rem;
        height: 3rem;
        font-size: 0.8rem;
        color: rgb(0, 0, 0);
    }
    #Countdown {
        font-size: 10vw;
        margin-top: 3rem;
    }
    .Times {
        font-size: 3vw;
        margin-bottom: 3rem;
    }
    .Days{
        margin-left: 23%;
    }
    .Hours{
        margin-left: 10%;
    }
    .Minutes{
        margin-left: 5%;
    }
    .Seconds{
        margin-left: 5%;
    }

}